html{
    background-color: rgb(173, 168, 168);
    padding: 1%;
    text-align: center;
}

body{
    text-align: center;
    padding: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 149, 155);
}  

header{
    display: flex;
    min-height: 1px;
    color: rgb(98, 35, 156);
    align-items: center;
    padding: 2px;
}
/*texto*/
nav{
    font-weight: 0px;
    padding-right: 1px;
     
}
nav,a:hover{
    color: rgb(26, 92, 136);
}
/*navegacion*/
a{
    color: rgba(9, 9, 9, 0.657);
    padding: 40px;
    text-align:center;
    border: 2px;
    text-decoration: none;
}

@keyframes slider{
   0% {margin-left: 0; }
   20% {margin-left: 0;}

   25%{margin-left: -100%;}
   45% {margin-left: -100%;}
  
   50% {margin-left: -200%;}
   70% {margin-left: -200%;}

   75% {margin-left: -300%;}
   100% {margin-left: -300%;}
} 
   
@media (max-width:576px){
    body{
        padding: 30px;
    }
    
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
@media (max-width:768px) {
    header{
        flex-direction: column;
    }
    body{
        padding: 30px;
    }
    
}
@media (max-width:992px){
    body{
        padding: 30px;
    header{
        flex-direction: column;
    }
}
@media (max-width:1200px) {
    body{
        padding: 30px;
    }
   
    header{
        flex-direction: column;
    }
}
}